<h2>
	<a href="<!--@explorerHref-->" title="<!--@title-->"><img src="/img/icon-folder.gif" width="16" height="16" alt=""></a>
	<a class="neutral" href="javascript:void(0)" onclick="$('recentFiles<!--@projectId-->').toggle()"><!--@projectName--></a>
	<span class="meditalic"><!--@fileCntMsg--></span>
</h2>
<div id="recentFiles<!--@projectId-->" style="display:none;">
<table class="topAlign">
	<tr>
		<th width="5%">Alter</th>
		<th width="55%">Dateiname</th>
		<th width="40%">Unter-Ordner</th>
	</tr>
<!--@lines-->
</table>
</div>
